<%= render "home/header" %>
   <div class="row">
      <div class="col s3 m3 l3 grey white-text"> <!-- Note that "m4 l3" was added --> 
        <div class="divider"></div>
        <div class="section">
          <a href="<%= clients_path %>"><h5 class="right-align">Clientes</h5></a>
        </div>
        
        <div class="divider"></div>
        <div class="section">
          <a href="<%= products_path%>"><h5 class="right-align">Productos</h5></a>
        </div>

        <div class="divider"></div>
        <div class="section">
          <a href="<%= root_path %>"><h5 class="right-align">Nota de Venta</h5></a>
        </div>
      </div>



    </div>

<%= render "home/footer" %>
