<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label(:product_name1, "Nombre producto")%><br> 
    <%= f.text_field :product_name1 %>
  </div> 
  <div class="field">
    <%= f.label(:product_name2, "Nombre producto")%><br> 
    <%= f.text_field :product_name2 %>
  </div> 
  <div class="field">
    <%= f.label(:product_unit_of_measurement, "Unidad de medida")%><br> 
    <%= f.text_field :product_unit_of_measurement %>
  </div> 
  <div class="field">
    <%= f.label(:product_stock_keeping_unit, "SKU")%><br> 
    <%= f.text_field :product_stock_keeping_unit %>
  </div> 
  <div class="field">
    <%= f.label(:product_line, "Linea de producto")%><br> 
    <%= f.text_field :product_line %>
  </div> 
  <div class="field">
    <%= f.label(:product_group, "Grupo del producto")%><br> 
    <%= f.text_field :product_group %>
  </div> 
  <div class="field">
    <%= f.label(:product_type, "Tipo de producto")%><br> 
    <%= f.text_field :product_type %>
  </div> 
  <div class="field">
    <%= f.label(:product_cellar_location, "Ubicación bodega")%><br> 
    <%= f.text_field :product_cellar_location %>
  </div> 
  <div class="field">
    <%= f.label(:product_normal_price, "Precio normal")%><br> 
    <%= f.text_field :product_normal_price %>
  </div> 
  <div class="field">
    <%= f.label(:product_minimum_price, "Precio minimo")%><br> 
    <%= f.text_field :product_minimum_price %>
  </div> 
  <div class="field">
    <%= f.label(:product_branch_office, "Sucursal")%><br> 
    <%= f.text_field :product_branch_office %>
  </div> 
  <div class="field">
    <%= f.label(:product_stock, "Stock")%><br> 
    <%= f.text_field :product_stock %>
  </div> 
  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>

