<%= render "home/header" %>
<h1>Editing Product</h1>

<%= render 'form' %>

<%= link_to @product do %>
<i class="material-icons">visibility</i>
<%end%>
<%= link_to products_path do %>
<i class="material-icons">arrow_back</i>
<%end%>

<%= render "home/footer" %>