<%= render "home/header" %>
<%= render "home/navbar" %>

      <div class="col s12 m12 l9 white"> <!-- Note that "m8 l9" was added -->
            <div class="divider"></div>
            <div>
                <h5 class="center-align">Productos ITAKA</h5>
                <div class="divider"></div>
                <h5 class="show-on-medium-and-down hide-on-med-and-up center-align">
                <%if @products.length != 0%>
                  Lista de productos</h5>
                  <%else%>
                  Actualmente no hay productos cargados</h5>
                <%end%>
                <div class="divider"></div>
                 <ul id="" class="center show-on-medium-and-down hide-on-med-and-up center-align">
                    <a href="<%=new_product_path%>" class="waves-effect waves-light btn">
                    Nuevo producto
                    </a>
                    <div class="divider"></div>
                    <a href="<%=data_product_load_path%>" class="waves-effect waves-light btn">
                    Cargar productos
                    </a>
                  </ul>     
                 
            </div>
              
            <div class="white black-text">
                      <ul id="" class="left hide-on-med-and-down" >
                      <li>
                        <%if @products.length != 0%>
                        <h5>Lista de productos</h5>
                        <%else%>
                        <h5>Actualmente no hay productos cargados</h5>
                        <%end%>
                      </li>
                      </ul>
                      <ul id="" class="right hide-on-med-and-down">
                        <a href="<%=new_product_path%>" class="waves-effect waves-light btn">
                        Nuevo producto
                        </a>
                        <a href="<%=data_product_load_path%>" class="waves-effect waves-light btn">
                        Cargar productos
                        </a>
                      </ul>
            </div>
            
            <% if @products.length != 0%>
            <div>
            <table class="striped centered">
              <thead class="responsive">
                <tr>
                        <th>Número único</th>
                        <th>SKU</th>
                        <th>Nombre 1</th>
                        <th>Nombre 2</th>
                        <th colspan="17"></th>
                </tr>
              </thead>

              <tbody class="responsive">
                <% @products.each do |product| %>
                  <tr>
                    <td>
                      <%= link_to product do %>
                        <p class="blue-text text-darken-2" >
                        <%=product.product_identifier%>
                        </p>
                      <%end%>
                    </td>
                    <td><%=product.product_stock_keeping_unit%></td>
                    <td><%=product.product_name1%></td>
                    <td><%=product.product_name2%></td>
                    <td><%= link_to product do %>
                        <i class="material-icons md-dark">visibility</i>
                        <%end%>
                    </td>
                    <td><%= link_to edit_product_path(product) do %>
                        <i class="material-icons md-dark">mode_edit</i>
                        <%end%>
                    </td>
                    <td><%= link_to product, method: :delete, data: { confirm: 'Estás seguro que deseas eliminar este ítem?' } do %>
                        <i class="material-icons md-dark">delete</i>
                        <%end%>
                    </td>
                  </tr>
                <% end %>
              </tbody>

            </table>
            </div>
            <%end%>
            
            <div class="nav-wrapper white black-text">
              <%= will_paginate @products, :class => "pagination center-align"%>
            </div>
            
            
      </div>

<%= render "home/footer" %>
