<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id%></td>
        <td><%= product.product_identifier%></td>
        <td><%= product.product_name1%></td>
        <td><%= product.product_name2%></td>
        <td><%= product.product_name3%></td>
        <td><%= product.product_unit_of_measurement%></td>
        <td><%= product.product_stock_keeping_unit%></td>
        <td><%= product.product_line%></td> 
        <td><%= product.product_group%></td>
        <td><%= product.product_type%></td>
        <td><%= product.product_cellar_location%></td>
        <td><%= product.product_normal_price%></td>
        <td><%= product.product_minimum_price%></td>
        <td><%= product.product_branch_office%></td>
        <td><%= product.product_stock%></td>
        <td><%= product.domain%></td>
        <td><%= product.created_at%></td>
        <td><%= product.updated_at%></td>           
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
