<%= render "home/header" %>
<%= render "home/navbar" %>
<h4 class=" center-align white-text">Editando cliente</h4>
<div class="col s12 m9 l9 teal lighten-3"> 
	<div class="center-align teal lighten-3">
	<%= link_to @client do %>
	<i class="material-icons">visibility</i>
	<%end%>
	<%= link_to clients_path do %>
	<i class="material-icons">arrow_back</i>
	<%end%>
	</div>
	<div class="container">
	<%= render 'form' %>
	</div>
</div>


<%= render "home/footer" %>