<p id="notice"><%= notice %></p>

<h1>Lista de clientes</h1>

<table class="striped">
  <thead>
    <tr>
            <th><%=:id%></th>
            <th><%=:client_unique_number%></th>
            <th><%=:client_rut%></th>
            <th><%=:client_name1%></th>
            <th><%=:client_name2%></th>
            <th><%=:client_address1%></th>
            <th><%=:client_address2%></th>
            <th><%=:client_city%></th>
            <th><%=:client_phone%></th>
            <th><%=:client_fax%></th>
            <th><%=:client_cell_phone%></th>
            <th><%=:client_web_site%></th>
            <th><%=:domain%></th>
            <th><%=:client_type1%></th>
            <th><%=:client_type2%></th>
            <th><%=:created_at%></th>
            <th><%=:updated_at%></th>
            <th colspan="17"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%=client.id%></td>
        <td><%=client.client_unique_number%></td>
        <td><%=client.client_rut%></td>
        <td><%=client.client_name1%></td>
        <td><%=client.client_name2%></td>
        <td><%=client.client_address1%></td>
        <td><%=client.client_address2%></td>
        <td><%=client.client_city%></td>
        <td><%=client.client_phone%></td>
        <td><%=client.client_fax%></td>
        <td><%=client.client_cell_phone%></td>
        <td><%=client.client_web_site%></td>
        <td><%=client.domain%></td>
        <td><%=client.client_type1%></td>
        <td><%=client.client_type2%></td>
        <td><%=client.created_at%></td>
        <td><%=client.updated_at%></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @clients , :window => 2, :left => 1, :right => 3 %>
<br>

<%= link_to 'New Client', new_client_path %>
