<%= render "home/header" %>
<%= render "home/navbar" %>
<h4 class=" center-align white-text">Nuevo cliente</h4>
<div class="col s12 m9 l9 white"> 
	<div class="center-align">
	<%= link_to clients_path do %>
	<i class="material-icons">arrow_back</i>
	<%end%>
	</div>
	<%= render 'form' %>
	
</div>
<%= render "home/footer" %>