<%= render "home/header" %>
<%= render "home/navbar" %>
 <div class="col s12 m12 l9 white">
      <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Información cliente</span>
              <p>
        <p><strong>Identificador oferus</strong><%=@client.id%></p>
        <p><strong>Identificador cliente</strong><%=@client.client_unique_number%></p>
        <p><strong>Rut: </strong><%=@client.client_rut%></p>
        <p><strong>Nombre 1 cliente: </strong><%=@client.client_name1%></p>
        <p><strong>Nombre 2 cliente: </strong><%=@client.client_name2%></p>
        <p><strong>Dirección 1: </strong><%=@client.client_address1%></p>
        <p><strong>Dirección 2: </strong><%=@client.client_address2%></p>
        <p><strong>Ciudad: </strong><%=@client.client_city%></p>
        <p><strong>Teléfono: </strong><%=@client.client_phone%></p>
        <p><strong>Fax: </strong><%=@client.client_fax%></p>
        <p><strong>Teléfono celular: </strong><%=@client.client_cell_phone%></p>
        <p><strong>Sitio web: </strong><%=@client.client_web_site%></p>
        <p><strong>Dominio: </strong><%=@client.domain%></p>
        <p><strong>Tipo 1 cliente: </strong><%=@client.client_type1%></p>
        <p><strong>Tipo 2 cliente: </strong><%=@client.client_type2%></p>
        <p><strong>Fecha creación: </strong><%=@client.created_at%></p>
        <p><strong>Fecha actualización: </strong><%=@client.updated_at%></p>
              </p>
            </div>
            <div class="card-action center">
              <%= link_to edit_client_path(@client) do %>
                        <i class="material-icons">mode_edit</i>
              <%end%>
              <%= link_to clients_path do %>
                        <i class="material-icons">arrow_back</i>
              <%end%>
            </div>
          </div> 
        </div>
      </div>
            
      <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Información obtenida en tiempo real Consulta Web Service:</span>
              <p>
              <span>
              <% json = Client.find_by_erp(:client_unique_number, @client.client_unique_number)%>
              <%if json != nil%>
              <% client = Client.get_client_from_json(json)%>
              <p><strong>Identificador cliente: </strong><%=client.client_unique_number%></p>
              <p><strong>Rut: </strong><%=client.client_rut%></p>
              <p><strong>Nombre 1 cliente: </strong><%=client.client_name1%></p>
              <p><strong>Nombre 2 cliente: </strong><%=client.client_name2%></p>
              <p><strong>Dirección 1: </strong><%=client.client_address1%></p>
              <p><strong>Dirección 2: </strong><%=client.client_address2%></p>
              <p><strong>Ciudad: </strong><%=client.client_city%></p>
              <p><strong>Teléfono: </strong><%=client.client_phone%></p>
              <%else%>
              <strong>Problema con ERP</strong>
              <%end%>
              </span>
              </p>
            </div>
            <div class="card-action center">
              <% url = Datum::API_BASE_URL_CLIENT_ALL+" and ad_addr=\""+@client.client_unique_number+"\""%>
              <a href="<%= url %>">IR ERP ITAKA</a>
            </div>
          </div>
        </div>
      </div>

 </div>
<%= render "home/footer" %>
