<p id="notice"><%= notice %></p>

<h1>Carga de datos</h1>

<%= button_tag(type: 'button', onclick: "callCargar()") do %>
  <%= content_tag(:strong, 'Cargar datos') %>
  <%= 
<%end%>

<br>

<%= link_to 'New Datum', new_datum_path %>
