<%= render "home/header" %>
<div class="row">
      <div class="col s3 m3 l3 white-text"> <!-- Note that "m4 l3" was added --> 
        <div class="divider"></div>
        <div class="section">
          <a href="<%= clients_path %>"><h5 class="right-align">Clientes</h5></a>
        </div>
        
        <div class="divider"></div>
        <div class="section">
          <a href="<%= products_path%>"><h5 class="right-align">Productos</h5></a>
        </div>

        <div class="divider"></div>
        <div class="section">
          <a href="<%= sale_notes_path %>"><h5 class="right-align">Nota de Venta</h5></a>
        </div>
      </div>

      <div class="col s9 m9 l9 white"> <!-- Note that "m8 l9" was added -->
            <div class="divider"></div>
            <div>
                <h5 class="center-align">Notas de Ventas ITAKA</h5></a>  
            </div>
              
            <div class="nav-wrapper white black-text">
                      <ul id="" class="left hide-on-med-and-down" >
                      <li>
                      <%if @sale_notes.length != 0%>
                      <h5>Lista notas de venta</h5>
                      <%else%>
                      <h5>Actualmente no hay notas de ventas ingresadas</h5>
                      <%end%>
                      </li>
                      </ul>
                      <ul id="" class="right">
                        <a href="<%=post_sale_notes_path%>" class="waves-effect waves-light btn">
                        Nueva nota de venta
                        </a>
                      </ul>
            </div>
            
            <% if @sale_notes.length != 0%>
            <div class="section">
            <table class="responsive-table striped centered">
              <thead class="responsive">
                <tr>
                        <th>Identificador Orden</th>
                        <th>Estado</th>
                        <th colspan="17"></th>
                </tr>
              </thead>

              <tbody class="responsive">
                <% @sale_notes.each do |sale_note| %>
                  <tr>
                    <td>
                    <a href="<%= sale_note %>" class="blue-text text-darken-2"> <%=sale_note.order_number%> </a>
                    </td>
                    <td><%=sale_note.order_state%></td>
                    <td><%= link_to sale_note do %>
                        <i class="material-icons">visibility</i>
                        <%end%>
                    </td>
                    <td><%= link_to sate_notes, method: :delete, data: { confirm: 'Estas seguro que deseas eliminar este item?' } do %>
                        <i class="material-icons">delete</i>
                        <%end%>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            </div>
            <%end%>
            
            <%= paginate @sale_notes , :window => 2, :left => 1, :right => 3%>
      </div>

</div>

<%= render "home/footer" %>
