 <%= render "home/header" %>
 <%= render "home/navbar" %>
 <div class="col s12 m12 l9">
 <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Respuesta Ingreso nota de venta: </span>
              <p><%= @arr[:m] %></p>
            </div>
            <% if @sale_note != nil%>
           
        <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Información obtenida en tiempo real Consulta Web Service:</span>
              <p>
              <span>
              <% json = Sale::Note.find_by_erp(@sale_note.order_number)%>
              <%if json != nil%>
              <% sale_note = Sale::Note.get_sale_note_from_json(json)%>
              <%if sale_note != nil%>
                 <p><strong>Identificador cliente: </strong><%=sale_note.order_number%></p>         
                 <p><strong>Tipo de orden: </strong><%=sale_note.order_type%></p>           
                 <p><strong>Usuario creador nota: </strong><%=sale_note.order_create_user%></p>    
                 <p><strong>Usuario generador nota: </strong><%=sale_note.order_generate_user%></p>  
                 <p><strong>Usuario aprobador nota: </strong><%=sale_note.order_approves_user%></p>  
                 <p><strong>Usuario exportador nota: </strong><%=sale_note.order_exports_user%></p>
                 <p><strong>Código de Vendedor: </strong><%=sale_note.order_seller_code%></p>    
                 <p><strong>Tipo de crédito: </strong><%=sale_note.order_credit_type%></p>    
                 <p><strong>Tipo de descuento: </strong><%=sale_note.order_discount_type%></p>  
                 <p><strong>Estado nota: </strong><%=sale_note.order_state%></p>
              <%else%>
              <strong>Problema con servidor</strong>
              <%end%>

              <%else%>
              <strong>Problema con ERP</strong>
              <%end%>
              </span>
              </p>
            </div>
            <div class="card-action center">
              <% url = Datum::API_BASE_URL_SALE_NOTE+"?filter=xtpw_nbr=\""+@sale_note.order_number+"\""%>
              <a href="<%= url %>">IR ERP ITAKA</a>
            </div>
          </div>
        </div>
      </div>


          <% end %>
          </div>
        </div>
</div>
</div>

<%= render "home/footer" %>
